# Игнорировать файлы байт-кода Python и кэш-файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение (если используете виртуальное окружение)
venv/
env/

# Игнорировать локальные настройки, например, settings.py
settings.py

# Игнорировать логи, временные файлы и директории
logs/
*.log
*.log.*
*.tmp
.DS_Store
